@import 'src/main';

.elr-breadcrumbs {
  @include elr-breadcrumbs();
}

.elr-breadcrumbs-slash {
  @include elr-breadcrumbs(
    $config: (
      separator: '/'
    )
  );
}

.elr-breadcrumbs-arrow {
  @include elr-breadcrumbs-arrow;
}

.elr-breadcrumbs,
.elr-breadcrumbs-slash,
.elr-breadcrumbs-arrow {
  margin: 32px 0;
}
