@mixin elr-breadcrumbs($config: ()) {
  $config: extend(
    (
      separator: ">",
      color: #1976d2,
      text-color: #333,
    ),
    $config
  );
  $separator: map-get($config, separator);
  $color: map-get($config, color);
  $text-color: map-get($config, text-color);

  margin: 0;
  padding: 0;
  display: flex;

  li {
    list-style: none;
    padding: 0;
    margin: 0;

    &::after {
      content: $separator;
      padding-left: 8px;
      padding-right: 12px;
      color: rgba($color, 0.7);
    }

    &:last-child {
      &::after {
        content: "";
      }
    }

    a {
      color: $color;
      display: inline;
      text-decoration: none;
      padding: 0;
      margin: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      // font-weight: 700;

      > a {
        text-decoration: none;
        color: $text-color;

        &:hover {
          cursor: default;
          text-decoration: none;
        }
      }
    }
  }
}
