@import "src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-config/src/main";

@include elr-reset;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: $border;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: $primary-color;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
}

.breadcrumbs {
  @include elr-breadcrumbs();
}

.breadcrumbs-slash {
  @include elr-breadcrumbs(
    $config: (
      separator: "/",
    )
  );
}

.breadcrumbs-arrow {
  @include elr-breadcrumbs-arrow;
}

.breadcrumbs,
.breadcrumbs-slash,
.breadcrumbs-arrow {
  margin: 32px 0;
}
